.page-dashboard {
    &__content {
        .content-category {
            margin-top: 1rem;
        
            &__item {
                margin-bottom: 1rem;
                cursor: pointer;
                min-height: 100px;
        
                &.all {
                    .item {
                        &-icon {
                            font-size: 7em;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}